.btn.focus, .btn:focus{
  box-shadow: none !important;
}
.btn__green:link,.btn__green:visited{
    @include btnmx;
    color:#fff;
    line-height: 2.1rem !important;
    font-size: 1.5rem;
    background-color: $clr__green;
    height: 4.8rem !important;
}
.btn__green-m:link,.btn__green-m:visited{
  @include btnmx;
  color: #83c225;
  font-size: 1.5rem;
  border: solid 0.6px #83c225;
  background-color: rgba(131, 194, 37, 0.1);
  height: 4.8rem !important;
  line-height: 2.1rem !important;
}
.btn__green-v:link,.btn__green-v:visited{
 
  color: #83c225;
  font-size: 1.5rem;
  border: solid 0.6px #83c225;
  background-color: rgba(131, 194, 37, 0.1);
  
  
}

.button__primary{
  min-width: 15rem;
    color: #fff;
    font-size: 1.6rem;
    font-weight: normal;
  height: 4.8rem;
  border-radius: 2.6px;
  background-color: #83c225;
  &:hover{
    color: #fff;
    opacity:.8;
  }
}
.button__primary-m{
  min-width: 10rem;
    color: #fff;
    font-size: 1.6rem;
    font-weight: normal;
  height: 4.8rem;
  border-radius: 2.6px;
  background-color: #83c225;
  &:hover{
    color: #fff;
    opacity:.8;
  }
}

.button__grey{
  min-width: 15rem;
    color: inherit;
    font-size: 1.6rem;
    font-weight: normal;
  height: 4.8rem;
  border-radius: 2.6px;
  border: solid 0.6px #2a2a2a;
  background-color: #f5f6fa;
  &:hover{
    color: inherit;
    opacity:.8;
  }
}
.button__grey-m{
    min-width: 10rem;
    color: inherit;
    font-size: 1.6rem;
    font-weight: normal;
  height: 4.8rem;
  border-radius: 2.6px;
  border: solid 0.6px #2a2a2a;
  background-color: #f5f6fa;
  &:hover{
    color: inherit;
    opacity:.8;
  }
}
.button__grey-a:link,.button__grey-a:visited{
  min-width: 10rem;
  color: inherit;
  font-size: 1.6rem;
  font-weight: normal;
height: 4.8rem;
line-height: 3.8rem;
border-radius: 2.6px;
border: solid 0.6px #2a2a2a;
background-color: #f5f6fa;
&:hover{
  color: inherit;
  opacity:.8;
}
}

.btn-yes{
  width: 6rem;
height: 4.8rem;
color:#fff;
background-color: $clr__green;
font-size: 1.5rem;
border-radius: 2.6px;
&:hover{
  color:#fff;
    opacity:.8;
}
}
.btn-no{
  width: 6rem;
height: 4.8rem;
color: #525f7f;
background-color: transparent;
font-size: 1.5rem;
border-radius: 2.6px;
border: solid 0.6px #2a2a2a;
&:hover{
  color: inherit;
    opacity:.8;
}
}
.btn-dropdown{
  background-color: #fff;
  font-size: 1.6rem;
  height: 48px;
  line-height: 3.8rem;
  color: #525f7f;
}

a.drop-link{
  font-size: 1.6rem;
}

.btn-green-status{
  width: auto;
  font-size: 1.6rem;
  height: 4.8rem;
  background-color: #83c225;
  color:#fff;
}
.btn-green-status:hover{
  opacity: .8;
  color:#fff;
}

.btn-green-status--m{
  width: auto;
  font-size: 1.6rem;
  height: 4.8rem;
  line-height: 2.2;
  color: #83c225;
  border: solid 0.6px #83c225;
  background-color: rgba(131, 194, 37, 0.1);
}

.btn-green-status--m:hover{
  opacity: .8;
  color: #83c225;
}