.request{
    padding:0 10rem;
    @media only screen and(max-width:600px){
        padding:0 0rem;
    }
    @media only screen and(max-width:1140px){
        padding:0 5rem;
    }

    &__commodity{
        display: none;
    }
    &__query{
        @media only screen and (min-width:779px) and (max-width:992px){
            display: block !important;
        }
    }
}