.h-100vh{
    height: 100vh;
    overflow-y: scroll;
}
.p-rel{
    position: relative;
}
.cbig-text{
    font-size: 3.5rem;
    font-weight: 600;
    @media only screen and(max-width:600px){
        font-size: 2.9rem;
    }
    @media only screen and(max-width:420px){
        font-size: 2.4rem;
    }
}

.cmedium-text{
    font-size: 2.8rem;
    font-weight: 600;
    @media only screen and(max-width:600px){
        font-size: 2.3rem;
    }
    @media only screen and(max-width:420px){
        font-size: 2rem;
    }
}

.cgreen-border{
    border: solid 1px rgba(131, 194, 37, 0.4);
}
.mt-8{
    margin-top: 5%;
    @media only screen and(max-width:600px){
        margin-top: 2%;
    }
}
.mt-10{
    margin-top: 10%;
    @media only screen and(max-width:600px){
        margin-top: 2%;
    }
}

.mb-10{
    margin-bottom: 7rem;
    @media only screen and(max-width:600px){
        margin-bottom: 7rem;
    }
}
.mb-15{
    margin-bottom: 9rem;
    @media only screen and(max-width:600px){
        margin-bottom: 8rem;
    }
}

.clr--grey{
    color: #b1bfcd;
}



.mt-16{
    margin-top: 16%;
}

.green__bg{
    background-color: $clr__green;
}
.grey__bg{
    background-color: $clr__grey;
}

.grey__bg.active{
    background-color: $clr__green;
}

.bg-grey{
    background-color: #F5F6FA;
}
.clr_a{
   color: #0a6994;font-weight: bold;
   &:hover{
    color: #0a6994;
    opacity: .8;
   }
}
.clr_a-m{
    color: #0a6994;font-weight: normal;
    &:hover{
     color: #0a6994;
     opacity: .8;
    }
 }

 .clr__greybg{
     background-color: #f5f6fa;
 }

 .p-copyright{
    color: #707070;font-size: 13px;color: #707070;
    font-size: 13px;
    position: absolute;
    bottom: 2rem;left:50%;transform: translateX(-50%);
 }

 .mrt-6{
    margin-top:6rem;
    @media only screen and(max-width:900px){
        margin-top:4rem;
    }
    @media only screen and(max-width:600px){
        margin-top:2rem;
    }
 }

 .empty-state{
    width: 5rem;
    background-color: #525f7f;
    height: 1px;
    opacity: .4;
    margin-top:.7rem;
    margin-bottom:.7rem;
 }
 .status-red{
    width: 14px;
    height: 14px;
    background-color: #ef0000;
    border-radius: 50%;
    vertical-align: middle;
 }
 .status-blue{
    width: 14px;
    height: 14px;
    background-color: #0a6994;
    border-radius: 50%;
    vertical-align: middle;
 }
 .statusblock-red{
    width: auto;
    font-size: 1.6rem;
    height: 2.7rem;
    border-radius: 3px;
    color:#ef0000;
    background-color: rgba(239,0,0,0.1);
 }
 .statusblock-red--m{
    width: auto;
    font-size: 1.6rem;
    height: 2.7rem;
    border-radius: 3px;
    color:#ef0000;
    background-color: rgba(239,0,0,0.1);
 }
 .statusblock-blue{
    width: 7.8rem;
    font-size: 1.3rem;
    height: 2.7rem;
    border-radius: 3px;
    color:#0a6994;
    border: solid 1px #0a6994;
    background-color: rgba(10,105,148,0.1)
 }
 .statusblock-blue--m{
    width: auto;
    font-size: 1.6rem;
    height: 2.7rem;
    border-radius: 3px;
    color:#0a6994;
    background-color: rgba(10,105,148,0.1)
 }

 .statusblock-grey--m{
    width: auto;
    font-size: 1.6rem;
    height: 2.7rem;
    border-radius: 3px;
    color:#999999;
    background-color: rgba(153,153,153,0.1)
 }


 .status-yellow{
    width: 14px;
    height: 14px;
    background-color: #ffc500;
    border-radius: 50%;
    vertical-align: middle;
 }
 .statusblock-yellow{
    width: 7.8rem;
    font-size: 1.3rem;
    height: 2.7rem;
    border-radius: 3px;
    color:#ffc500;
    border: solid 1px #ffc500;
    background-color: rgba(255, 197, 0, 0.1);
 }

 .statusblock-yellow--m{
    width: auto;
    font-size: 1.6rem;
    height: 2.7rem;
    border-radius: 3px;
    color:#ffc500;
   
    background-color: rgba(255, 197, 0, 0.1);
 }
 .status-green{
    width: 14px;
    height: 14px;
    background-color: $clr__green;
    border-radius: 50%;
    vertical-align: middle;
 }
 .statusblock-green{
    width: 7.8rem;
    font-size: 1.3rem;
    height: 2.7rem;
    border-radius: 3px;
    color:$clr__green;
    border: solid 1px $clr__green;
    background-color: rgba(131,194,37,0.1)
 }
 .statusblock-green--m{
    width: auto;
    font-size: 1.6rem;
    height: 2.7rem;
    border-radius: 3px;
    color:$clr__green;
    background-color: rgba(131,194,37,0.1)
 }
 .content__uploadfile{
    position: absolute;
    top: 0;
    left: 0;
    height: 38px;
    border-radius: 3px;
    background-color: #e9ecef;
    z-index: 0;
    padding: .6rem;
    opacity: 1;
 }

 .cursor-active{
     cursor: pointer !important;
 }