.btn__green:link,.btn__green:visited{
    @include btnmx;
    color:#fff;
    line-height: 33px;
    font-size: 15px;
    background-color: $clr__green;
}

.button__primary{
    color: #fff;
    font-size: 16px;
    font-weight: normal;
  height: 48px;
  border-radius: 2.6px;
  background-color: #83c225;
  &:hover{
    color: #fff;
    opacity:.8;
  }
}