/*
 * Base structure
 */

body {
  /* background-color: #efefef37; */
  color: #434343;
}

/*
 * Typography
 */

a {
  cursor: pointer !important;
}

h1 {
  margin-bottom: 20px;
  padding-bottom: 9px;
  font-size: 2.3rem;
  padding-top: 2rem;
}

h3, h4, h5, h6 {
  color: #000000;
}

main h3 {
  color: #000000;
  font-weight: 600;
}

main h4 {
  color: #666666;
  font-weight: 600;
}

hr {
  border: 1px solid #FFC500 !important;
}

.small, small{
  font-size: 12px;
}


/*
*Amdin Navigation Top
*/

.nav-admin-top {
  /*background: #3166b2;*/
  /*background: #227334;*/
  //border-bottom: 1px solid #04a8f4;
}
.nav-admin-top  .dropdown {
  padding-top: .7rem;
  margin-right: 1rem;
}
.nav-admin-top a {
  color: #000000 !important;
  font-size: 0.9rem;
  font-weight: 100;
}
.nav-admin-top a.dropdown-item {
  color: #000 !important;
}
.navbar{
  top: 0;
  position: fixed;
}
.navbar-expand-md .navbar-nav .dropdown-menu {
  right: 0;
  min-width: 12rem;
  left: -50%;
  top: 145%;
  font-family: "Muli", sans-serif;
}
.dropdown-toggle::after {
  font-family: 'fontAwesome';
  content: '\f078';
  border: none;
  font-size: 0.1rem;
}
.navbar-dark .navbar-brand {
  width: 250px;
}
.navbar-brand img {
  width: 50%;
  padding-top: 5px;
  float: left;
}
.navbar-brand h1 {
  float: left;
  width: 75%;
  padding: 0;
  font-size: 1.6rem;
  padding-top: 5px;
  margin-bottom: 0;
  padding-left: 10px;
}

.navbar-expand-md .navbar-nav .dropdown-menu {
  top: 100%;
  font-family: "Muli", sans-serif;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 4rem;
  bottom: 0;
  left: 0;
  z-index: 10;
  padding: 1.2rem 0;
  overflow-x: hidden;
  overflow-y: auto;
  /* background-color: #ffffff; */
  background-color: transparent;
  max-width: 15% !important;
}


/*.sidebar .nav {*/
/*margin-bottom: 0rem;*/
/*border-top: 1px solid #03A9F4;*/
/*margin-bottom: 15px;*/
/*}*/
/*.sidebar .nav:first-child {*/
/*border-top: none;*/
/*}*/
.sidebar .nav-item {
  width: 100%;
  text-align: center;
  margin-top: 1%;
  margin-bottom: 1%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
  padding: 0.5rem 0.8rem;
  color: #ffffff;
  /*color: #46683b;*/
  text-transform: capitalize;
  transition: background-color 1.5s;
  -webkit-transition: background-color 1.5s;
  -moz-transition: background-color 1.5s;
  -o-webkit-transition: background-color 1.5s;
  overflow: hidden;
}
.nav-pills .nav-link.active,
.show>.nav-pills .nav-link,
.nav-pills .nav-link:hover {
  background-color: transparent;
}
.nav-pills .nav-link.active p,
.nav-pills .nav-link:hover p{
  font-weight: 800;
  color: #ffffff;
}
.sidebar .nav-link i {
  font-size: 22px;
  margin-right: 10%;
  /* text-align: center; */
  margin-top: 5px;

}
.sidebar .nav-link img {
  text-align: left;
  width: 15px;
  float: left;/*To position image icon left*/
  margin-right: 10px;
  margin-top: 5px
}
.sidebar .nav-link p {
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left:auto;
  margin-right:auto;
  font-size: 14px;
  font-weight: 700;
  width: 100%;
  text-align: left;
  float: left;
  color: #000000 !important;
}

.sidebar .nav-link p.active {
  color: #0A6994 !important;
}

.sidebar h4 {
  padding-left: 1rem;
  color: #ffffff;
  font-weight: 500;
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  opacity: 1;
  /* text-align: center; */
}
/*
 * Dashboard
 */
.dashboard-content {
  padding: 3rem;
  min-height: 90vh !important;
  margin-left: 13% !important;
}
.dashboard-widget {
  padding-top: 1rem;
  padding-bottom: 1rem;
  /*box-shadow: inset 0 0.5px 0 0 #dad8fa, inset 0 -0.5px 0 0 #dad8fa;*/
  /*-moz-box-shadow: inset 0 0.5px 0 0 #dad8fa, inset 0 -0.5px 0 0 #dad8fa;*/
  /*-webkit-box-shadow: inset 0 0.5px 0 0 #dad8fa, inset 0 -0.5px 0 0 #dad8fa;*/
}

.width-80{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 15%;
  margin-bottom: 2%;
}
.modal-dialog.front-view-modal.admin-projects {
  min-width: 80%;
}
.modal-dialog.front-view-modal.admin-projects .modal-body {
  padding: 2.9rem;
}

.large-circle {
  border-radius: 50%;
  height: 300px;
  font-weight: bold;
  width: 300px;
  margin: 0 auto;
  border: 3px solid;
}

.large-circle p{
  font-size: 25px;
  width: fit-content;
  margin: 0 auto;
  line-height: 300px;
}

.large-rounded-rectangle p{
  font-size: 25px;
  width: fit-content;
  margin: 0 auto;
  line-height: 300px;
  color: #ffffff;
}

.large-rounded-rectangle{
  height: 300px;
  font-weight: bold;
  width: 400px;
  margin: 0 auto;
  background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)),
  url('/static/images/container-comflo.png') no-repeat;
  background-size: cover;
}

.tracker-position-text{
  line-height: 60px;
  margin-bottom: 0;
}

.bg-light-blue{
  background-color: #c9daf8ff !important;
}

.bg-light-gray{
  background-color: #E6E6E6 !important;
}

/* .highlight{
  background-color: #ffffff;
}

.highlight:hover{
  border-left: 7px solid #FFC500;
  background-color: transparent;
} */

/*
* Datatables
*/
table#projects {
  counter-reset: serial-number;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.19);
  background: #fff;
  margin-bottom: 3rem !important;
  /* text-transform: capitalize; */
}
table#projects tbody tr td:first-child:before {
  counter-increment: serial-number;
  content: counter(serial-number);
  text-align: right;
}
table#projects tbody tr td:first-child {
  text-align: right;
}
#projects_wrapper {
  padding-left: 0;
  padding-right: 0;
}
table.dataTable thead>tr>th.sorting_asc,
table.dataTable thead>tr>th.sorting_desc,
table.dataTable thead>tr>th.sorting,
table.dataTable thead>tr>td.sorting_asc,
table.dataTable thead>tr>td.sorting_desc,
table.dataTable thead>tr>td.sorting {
  border: 0;
}
table.dataTable td,
table.dataTable th {
  border: 0;
  padding: 1rem;
}

table.dataTable th {
  font-size: 1rem;
  font-weight: 400;
}
table.dataTable td {
  font-size: 12px;
  padding: 0.5rem;
}
table.dataTable tbody tr {
  box-shadow: inset 0 0.5px 0 0 #dad8fa, inset 0 0 0 0 ;
  -webkit-box-shadow: inset 0 0.5px 0 0 #dad8fa, inset 0 0 0 0 ;
  -moz-box-shadow: inset 0 0.5px 0 0 #dad8fa, inset 0 0 0 0 ;
}
table.dataTable td:nth-child(2),
table.dataTable th:nth-child(2) {
}
table.dataTable td:nth-child(2) img,
table.dataTable th:nth-child(2)  img{
  width: 3rem;
  height: 3rem;
  margin-right: 0.5rem;
}
div.dataTables_wrapper div.dataTables_filter input {
  width: 20rem;
  padding: 0.5rem;
}

.page-item.active .page-link {
  background-color: #163a6b;
  border-color: #163a6b;
}
.members td:nth-child(3),
.schools td:nth-child(4) {
  text-transform: lowercase;
}

.padd-5 {
  padding: 0.5rem;
  font-size: 12px;
}
/*
*Dropzone
*/
.dropzone {
  background: #ffffff;
  padding: 3rem;
  text-align: center;
  margin-bottom: 1rem;
}

.polls .progress-bar {
  height: 2rem;
}
.polls label {
  position: absolute;
  padding-left: 1rem;
  padding-top: 0.5rem;
  z-index: 2;
  color: #fff;
  font-size: 1rem;
}
.form-widget {
  border: 1px solid #e0e0e0;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: #fff;
}
.form-widget .form-control,
.form-widget .custom-file-control {
  border: solid 1px #e0e0e0;
}
.form-widget h4 {
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-size: 0.9rem;
}

/* .form-widget ul {
  list-style: none;
  padding:0;
  margin:0;
}

.form-widget li {
  padding-left: 1em;
  text-indent: -.7em;
}

.form-widget li:before {
  content: "• ";
  color: #FFC500;
} */


/*.form-widget li {*/
  /*list-style:circle;*/
  /*color: #FFC500;*/
/*}*/
.form-widget li, .form-widget a{
  color: #0b5394;
}

.form-widget li:hover, .form-widget a:hover{
  color: #999999;
}

.remove .btn {
  padding: 0.65rem;
}
.form-widget .btn-group {
  width: 100%;
}
.form-widget .btn-group>.btn:first-child{
  background: #fff;
  border: solid 1px #e0e0e0;
  padding: 0.50rem;
  border-radius: 0;
  text-align: left;
  font-size: 0.9rem;
}
.form-widget .btn-group>.btn:first-child,
.multiselect-container,
.multiselect-container>li>a>label.radio,
.multiselect-container>li>a>label.checkbox {
  width: 100%
}
.widget-tab {
  padding: 0;
  list-style: none;
  border-top: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
  background: #fff;
}
.widget-tab li {
  width: 1%;
  display: table-cell;
  border-right: 1px solid #e0e0e0;
  padding: 0.5rem 0.8rem;
  border-bottom: 1px solid #e0e0e0;
  text-align: center;
  transition: background-color 1.2s;
  -webkit-transition: background-color 1.2s;
  -moz-transition: background-color 1.2s;
  -o-webkit-transition: background-color 1.2s;
}
.widget-tab li:hover,
.widget-tab li.active {
  color: #0A6994 !important;
  background-color: #0A6994;
  /*background-color: #3a6d38;*/
}
.widget-tab li a {
  font-size: 14px;
}
.widget-tab li:hover a,
.widget-tab li.active a {
  color: #ffffff;
}
.widget-tab li a p {
  margin-bottom: 0;
}
table .btn-danger {
  padding: 0.5rem 1rem;
}
.dropdown-item {
  width: auto;
}
hr {
  border: 1px solid #f9f9f9;
  width: 95%;
  margin: 0 auto;
  margin-bottom: 2rem;
  margin-top: 1rem;
}
.no-border {
  border: none;
}
div.table-responsive>div.dataTables_wrapper>div.row>div.col-md-6  {
  /*flex: 0 0 33.333333%;
  max-width: 33.333333%;*/
}
.export {
  position: absolute;
  padding-left: 0;
  right: 3%
}
.dt-buttons.btn-group {
  position: absolute;
  float:right;
  top: 0;
  right: 0;
}
.dashboard-wdiget {
  border-radius: 5px;
  background-color: #ffffff;
  border: solid 1px #dfebfc;
  margin-bottom: 2.5rem;
  padding: 2rem;
  /* box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.19); */
  padding-bottom: 1rem;
}
.dashboard-wdiget-inner {
  margin-bottom: 1rem;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #fff;
}
.dashboard-wdiget-inner:hover {
  border: 1px solid #dddddd;
  background: #f1f1f1;
  border-radius: 5px;
}
.dashboard-wdiget-inner h3 {
  color: #393959;
}
.dashboard-wdiget-inner p {
  margin-bottom: 0;
  color: #999999;
}
.dashboard-wdiget-inner i {
  color: #808080;
}
.dashboard-wdiget-inner img {
  width: 50px
}
.dataTables_length select.formo-control {
  padding: 0;
}
h3.dashboard-head {
  font-size: 32px;
  color: #393959;
  margin-bottom: 2rem;
}
.dropdown-item.width-100 {
  width: 100%;
  cursor: default;
}
.status:before {
  content: '';
  border: 1px solid;
  border-radius: 100%;
  display: inline-block;
  width: 7px;
  height: 7px;
}
.status-completed:before {
  border-color: #28a745;
  background: #28a745;
}
.status-pending:before {
  border-color: #ffc107;
  background: #ffc107;
}
.status-ongoing:before {
  border-color: #007bff;
  background: #007bff;
}
.status-cancelled:before {
  border-color: #dc3545;
  background: #dc3545;
}
.cashout-heading {
  overflow: hidden;
  font-size: 1.5rem;
}
.template.row {
  margin: 0;
}
.input-group-sm>.input-group-btn>select.btn:not([size]):not([multiple]),
.input-group-sm>select.form-control:not([size]):not([multiple]),
.input-group-sm>select.input-group-addon:not([size]):not([multiple]),
select.form-control-sm:not([size]):not([multiple]),
select.form-control:not([size]):not([multiple]){
  padding: 0
}

#nav-mobile{
  display: none;
}

#map{
  height: 100%;
}

footer {
  margin-left: 4%;
  width:96%;
}

.col-md-1{
  flex: 0 0 7%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 25px);
  display: block;
  background: rgba(0, 0, 0, .6);
}

.v-select .dropdown-menu {
  position: relative;
}

@media screen and (max-width: 900px) {
  #nav-desktop {
    display: none !important;
  }
  #nav-mobile{
    margin-top: 3%;
    display: block;
  }
  footer {
    margin-left: 0;
    width: 100%;
  }
  .dashboard-content {
    padding: 1rem;
  }
  .width-80 {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
  }
  table {
    font-size:0.6rem !important;
  }
  a {
    font-size:0.6rem !important;
  }
  .btn {
    font-size:0.6rem !important;
    padding: 0.6rem 1.0rem;
  }
  .dashboard-content {
    margin-left: 0 !important;
  }
}
