*,*::before,*::after{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
   
    @media only screen and (max-width:900px){
        font-size: 52.5%;
    }
    @media only screen and (max-width:800px){
        font-size: 45.5%;
    }
    
}

body{
    font-family: 'Muli', sans-serif;
    font-weight: 300;
    font-size: 1.6rem;
    color: #525f7f;
    background-color: #fff;
}

.nav-tabs .nav-link{
   border: none;
   color: #525f7f;
   font-size: 1.4rem;
   padding-left: 1.5rem;
   padding-right: 1.5rem;
}

.nav-tabs .nav-link.active{
    color:$clr__green;
    border-bottom:2px solid $clr__green;
}
