.cwrap{

    input[type='checkbox'] {
        display: none;
      }

      &__collapse-label{
        display: block;
        font-weight: bold;
        font-size: 1.2rem;
        text-transform: uppercase;
        text-align: left;
        height: 7.4rem;
        border-radius: 10px;
        border: solid 1px #e6e6e6;
        padding: 1rem 2rem;
        color: inherit;
        background: #fff;
        cursor: pointer;
        transition: all 0.25s ease-out;
        &:hover{
         
        }
      }
      &__content{
        height:0;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    
        transition: height .25s ease-in-out;
          &-inner{
            padding: .5rem .5rem;
          }
      }

      &__toggle:checked + &__collapse-label +  &__content {
        height: 7rem;
      }

      &__content-inner{
        max-width:450px;
        height: 70px;
  border-radius: 10px;
  border: solid 1px #e6e6e6;
  background-color: #ffffff;
      }
      &__content-inner-btn{
          height: 4rem;
          position: absolute;
          left: 5.3em;
          top: 1.55em;
          z-index: 1;
      }
      &__img{
          width: 5rem;
      }
      &__file-label{
          max-width: 35rem;
          margin:0 auto;
          height: 5rem;
       line-height: 2.4;
      }
      &__modal-dialog{
        @media (min-width: 576px){}

            max-width: 40rem;
            margin: 1.75rem auto;
          
        
      }
      &__modal-content{
          border-radius: 1rem;
      }
      &__modal-body{
          padding: 1.5rem 5rem;
          & > p{
              font-size: 1.6rem;
          }
      }

      &__modal-footer{
          display: flex;
          justify-content: center;
          align-items: center;
          border:0;
          margin-bottom:2rem;
      }
}

.cmessage{
    max-width: 300px;margin:0 auto;
    padding:4.9rem 2rem;
    height: 380px;
}

.custom-file-label::after{
    height: 4.9rem;
    background-color: $clr__green;
    color:#fff;
    line-height: 2.4;
}

