
.col{
    @media only screen and(max-width:600px){
        flex-basis: 100%;
    }
}
.csignup{
    padding:3.6rem 5.5rem;
    @media only screen and(max-width:600px){
        padding:2.6rem 3.5rem;
    }
}
.cstepindicator{
    padding:10.6rem .5rem;
}
.cinput{
    @include input_comflo;
    background-size: 15px;
    background-position: right 5px center;
    background-repeat: no-repeat;
    &::placeholder{
        font-family: Muli;
        font-size: 13px;
        line-height: 1.5;
        letter-spacing: 0.4px;
        color: #b1bfcd;
    }
    
}
.form__valid{
    &:not(:focus):valid {
        background-image: url("../img/formvalid.svg"); }
}
.cselect{
    @include input_comflo;

    &::placeholder{
        font-family: Muli;
        font-size: 13px;
        line-height: 1.5;
        letter-spacing: 0.4px;
        color: #b1bfcd;
    }
    
}
.form-group > label{
    font-size: 1.6rem;
   
    @media only screen and (min-width:800px) and (max-width:1020px){
        font-size: 1.6rem;
    }
}

.cstepindicator{
    &__p{
        font-size: 1.6rem;
        font-weight: normal;
        margin-bottom: 4.3rem;
    }
    &__icon{
        margin-bottom: 3.3rem;
    }
    &__level{
        height: 6px;
        width: 40%;
        border-radius: 15px;
        @media only screen and(max-width:640px){
            width: 40% !important;
        }
       
    }
}
.input-group{
    position: relative;
}
.show-pass{
    position: absolute;
    right: 5%;
    top: 25%;

}


.csignin{
    max-width: 350px;margin: 0 auto;
}

.cwelcome{
    max-width: 744px;margin:0 auto;
    padding:4.5rem 2.5rem;
    @media only screen and(max-width:600px){
        padding:3.5rem 1.5rem;
    }
    &__icon{
        margin-bottom: 5.7rem;
        @media only screen and(max-width:600px){
            margin-bottom: 2.7rem;
        }
    }
    &__p{
        &:empty{
            width: 55px;
            height: 0;
            border: solid 1px #525f7f;
            text-align: center;
            margin:0 auto;
        }
    }
    &__name{
        font-size: 21px;
        font-weight: 600;
        font-style: normal;
        margin-bottom:2rem;
    }
    &__deets{
        margin-top:3rem;
        font-weight: 300;
        font-style: normal;
    }
}
